ENV=development

DB_AUTH_HOST=localhost
DB_AUTH_PORT=5432
DB_AUTH_USER=имя пользователя
DB_AUTH_PASSWORD=ваш пароль
DB_AUTH_NAME=auth-db
DB_AUTH_SSLMODE=disable

DB_REPO_HOST=localhost
DB_REPO_PORT=5437
DB_REPO_USER=имя пользователя
DB_REPO_PASSWORD=ваш пароль
DB_REPO_NAME=repo-db
DB_REPO_SSLMODE=disable

DB_CONTENT_HOST=localhost
DB_CONTENT_PORT=5439
DB_CONTENT_USER=имя пользователя
DB_CONTENT_PASSWORD=ваш пароль
DB_CONTENT_NAME=content-db
DB_CONTENT_SSLMODE=disable

DB_SEARCH_HOST=localhost
DB_SEARCH_PORT=5441
DB_SEARCH_USER=имя пользователя
DB_SEARCH_PASSWORD=ваш пароль
DB_SEARCH_NAME=search-db
DB_SEARCH_SSLMODE=disable

DB_PROFILE_HOST=localhost
DB_PROFILE_PORT=5448
DB_PROFILE_USER=имя пользователя
DB_PROFILE_PASSWORD=ваш пароль
DB_PROFILE_NAME=profile-db
DB_PROFILE_SSLMODE=disable

DB_RANKING_HOST=localhost
DB_RANKING_PORT=5450
DB_RANKING_USER=имя пользователя
DB_RANKING_PASSWORD=ваш пароль
DB_RANKING_NAME=ranking-db
DB_RANKING_SSLMODE=disable

GATEWAY_PORT=8080
AUTH_PORT=8081
AUTH_SERVICE_ADDR=localhost:8081
REPO_PORT=8082
REPOSITORY_SERVICE_ADDR=localhost:8082
CONTENT_PORT=8083
CONTENT_SERVICE_ADDR=localhost:8083
SEARCH_PORT=8084
SEARCH_SERVICE_ADDR=localhost:8084
PROFILE_PORT=8085
PROFILE_SERVICE_ADDR=localhost:8085
RANKING_PORT=8087
RANKING_SERVICE_ADDR=localhost:8087
STUDY_PORT=8086
STUDY_SERVICE_URL=http://localhost:8086

KAFKA_BROKERS=localhost:9094
KAFKA_SEARCH_TOPIC=search.events.v1
KAFKA_SEARCH_GROUP_ID=search-service
KAFKA_RANKING_TOPIC=ranking.events.v1
KAFKA_RANKING_GROUP_ID=ranking-service
KAFKA_RANKING_AUTH_GROUP_ID=ranking-service-auth
KAFKA_PROFILE_TOPIC=forklore.auth.events.v1
KAFKA_PROFILE_GROUP_ID=profile-service
KAFKA_CLIENT_ID=forklore-auth-service

KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
KAFKA_AUTO_CREATE_TOPICS_ENABLE=true

JWTSecret=gSHDBnio23hjdkunsh9v93wmhiiwjdw8ducmopp2jlekf3
JWTIssuer=forklore-auth-service
AccessTokenTTL=15m
RefreshTokenTTL=7d
BcryptCost=10

REPOSITORY_GRPC_DIAL_TIMEOUT=5s
REPOSITORY_GRPC_REQUEST_TIMEOUT=3s

LLM_PROVIDER=yandex

YANDEX_API_KEY=***
YANDEX_IAM_TOKEN=***
YANDEX_FOLDER_ID=***
YANDEX_BASE_URL=https://llm.api.cloud.yandex.net
YANDEX_VERIFY_SSL=true
YANDEX_TIMEOUT_S=30

LLM_MODEL=yandexgpt-lite
CADDY_DOMAIN=ваш домен
