{$CADDY_DOMAIN:localhost} {
    encode zstd gzip

    @api path /api/* /swagger/* /uploads/*
    handle @api {
        reverse_proxy api-gateway:8080
    }

    handle {
        reverse_proxy frontend:3000
    }
}
curl.exe -X GET "https://loremru.hackaton.profcomff.com/api/v1/rankings/overall?limit=20&offset=0" -H "accept: application/json"